@media all and (max-width: 900px) {
    .picture {
        font-size:50%;
        }
    nav {
        display:none;
    }
}

.picture {
    font-size:150px;
    color:#808080;
    padding-top:30px;
}

.searching {
    border:1px solid #122854;
    outline: none;
    border-radius:25px;
    box-shadow:none;
    width:100%;
    line-height:1.6;
    text-align: center; !important;
}

.searching:focus {
    border:1px solid #122854;
    outline: none;
    border-radius:25px;
    box-shadow:none;
    width:100%;
    text-align: center; !important;
}

.clickable-row {
    pointer:cursor
}

.clickable-row:hover {
    pointer:cursor
    outline: 1px solid #122854;
    color:#122854;

}

.change {
    width:100%;
    height:100%;
}

.clickable-row1:hover {
    cursor:pointer;
    outline: 1px solid #122854;
    color:#122854;

}

html {
    height:100%;
}

body {
      font: 12px Montserrat, sans-serif;
      line-height: 1.2;
      color: black;  /* #f5f6f7 */
      width: 100%;
      min-height: 100%;
  }

.al1 {
    float:left;
    text-align:left;
}


.al3 {
    float:right;
    text-align:right;
}

.item_history {
    color:#808080;
}

.items_history {
    color:#808080;
    font-weight: bold;
    font-size:16px;
}

h2, h4, h6 {
    font: Montserrat sans-serif;
    color:#808080;
}

table td {
    padding:0px;
}

a, .change {
    color:#122854;
    cursor:pointer;
}

a:hover, .change:hover {
    color:#008080;
    text-decoration:none;
    cursor:pointer;
}

.dataTables_length select:focus {
   border:1px solid #122854;
   outline: none;
    box-shadow:none;
}

.dataTables_filter input, .dataTables_length select {
    border-radius:25px;
    outline: none;
    box-shadow:none;
    display:none;
}

.dataTables_filter input:focus {
    border:1px solid #122854;
    outline: none;
    box-shadow:none;
    display:none;
}

.dataTables_paginate a {
    background-color:#fff;
    color:#122854;
}

.dataTables_paginate a:focus {
    background-color:#122854;
    color:#fff;
    outline: none;
    box-shadow:none;
}

.dataTables_paginate li.paginate_button.page-item.active a {
    background-color:#122854;
    border:none;
    color:#fff;
    outline: none;
    box-shadow:none;
}

.dataTables_paginate a:hover {
    background-color:#F0F0F0;
    color:#808080;
}

#needsunderlining {
    color:#008080;
}

#needsunderlining:hover {
    color:#122854;
    text-decoration: underline;
}

.no-show {
    box-shadow:none;
}

  .container-fluid {
      padding-top: 0px;
      padding-bottom: 0px;

  }

.text-white:hover {
    color:#fff;
}

.glyphicon.glyphicon-user.only {
    font-size: 75px;
}

.danger {
    padding-left:10px;
    background-color: #f44336;
    color:#fff;
    line-height:1.5;
}



label {
   cursor: pointer;
   font: 14px Montserrat, sans-serif;
   margin-top:3px;
   /* Style as you please, it will become the visible UI component. */
}

.login {
    border: 2px solid #808080;
    color: #808080;
    font-size: 48px;
    width:80px;
    height:80px;
    border-radius:25px;
    text-align: center;
}

.login:focus {
    border: 2px solid #808080;

    font-style: arial;
    font-size: 48px;
    outline: none;
    box-shadow:none;
    text-align: center;
}

.ologin {
    border: 2px solid #808080;
    color: #808080;
    border-radius:25px;
    text-align: center;
}

.ologin:focus {
    border: 2px solid #808080;
    color: #808080;
    font-style: arial;
    outline: none;
    box-shadow:none;
    text-align: center;
}

.qlogin {
    border: 2px solid #122854;
    color: #122854;
    border-radius:5px;
    text-align: left;
    opacity:0.6;
}

.qlogin:focus {
    border: 2px solid #122854;
    color: #122854;
    font-style: arial;
    outline: none;
    box-shadow:none;
    text-align: left;
    opacity:0.6;
}

.ilogin {
    border: 2px solid #008080;
    color: #008080;
    text-align: left;
    width:300px;
}

.ilogin:focus {
    border: 2px solid #008080;
    color: #008080;
    width:300px;
    font-style: arial;
    outline: none;
    box-shadow:none;
    text-align: left;
}


#usr:focus {
    border:1px solid #122854;
    box-shadow:none;
}

.btn-outline-success {
    border:1px solid #122854;
    border-radius:25px;
    color:#122854;
    width:200px
}

.btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success:hover {
    border:1px solid #122854 !important;
    border-radius:25px;
    color:#fff !important;
    background-color:#122854 !important;
    box-shadow:none !important;
    width:200px
    opacity:0.5 !important;
}

.btn-primary {
    border:1px solid #122854;
    background-color:#122854;
    border-radius:25px;
}

.work {
    width:200px;
}

.navbar {
  margin-bottom: 20px;
}

.numbering {
    padding:5px;
    margin-bottom:10px;
}

.btn-warning {
    opacity:0.8;

    height:50px; !important;
    margin-bottom:10px;
    color:#fff !important;
    border-radius:25px;
    box-shadow:none !important;
    padding:5px;
}

.btn-warning:hover, .btn-warning:focus {
    opacity:1;

    margin-bottom:10px;
    color:#fff !important;
    border-radius:25px;
    box-shadow:none !important;
    padding:5px;

}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    border-radius:25px;
    border:1px solid #122854 !important;
    color:#fff !important;
    background-color:#122854 !important;
    box-shadow:none !important;
    opacity:0.8;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    overflow:hidden;
}
  .bg-10 {
      background-color: #F9F9F9;
  }
  .bg-1 {
      background-color: #008080; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #122854; /* Dark Blue */
      color: #ffffff;
	  padding-top: 5px;
      padding-bottom: 5px;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2c313a;/*#2f2f2f; /* Black Gray */
      color: #fff;
	  padding-top: 20px;
      padding-bottom: 20px;
  }
  .bg-5 {
      background-color:#F0F0F0;
      color:#808080;
  }

  .navbar {
      height:40px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 16px;
      letter-spacing: 5px;
      background-color: #122854;
  }

  .logo-small {
      font-size: 95px;
	  color: ##2BB1CF;
  }
  .logo-tiny {
	  font-size: 25px;
	  color: #2BB1CF;
  }
  .logo-big {
      font-size: 150px;
	  color: #2BB1CF;
  }

  .btn-info {
    background: #2BB1CF;
    color: #ffffff;
}

@media print {
  * {
    display: none;
  }
  #printableTable {
    display: block;
  }
}

.material-icons {
	font-size:250px;
	color:#ffffff
}

.material-icons:hover
{
   color:#8080ff
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #8080ff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #8080ff;
    cursor: pointer;
}
hr {
    height: 3px;
    color: #474e5d; /* old IE */
    background-color: #474e5d; /* Modern Browsers */
}



textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

td {

    padding-bottom: .5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin-bottom:20px;
    border-radius:25px;
    padding-bottom:10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
