{% extends 'base.html' %}

{% block title %}Flow Vis{% endblock %}

{% block href %}{{  url_for('users_file.dashboard', org_name=session["OrgName"])  }}{% endblock %}

{% block css %}
<style>
td a:hover {
    display:block;
    width:100%;
    font-weight: bold;
}

</style>
{% endblock %}

{% block body %}
{% if Error|length > 1 %}
<div class="danger text-center">
    <p>{{  Error  }}</p>
</div>
{% endif %}

{{ rs }}{{ ss }}

<div class = "col-md-12">
	<center>
	    <h2 style="margin-top:10px;">Contracts</h2>

	    <a class="btn btn-outline-success" data-toggle="modal" data-target="#AddContract">Add a contract <i class="fas fa-plus"></i></a>
	    <a href="{{ url_for('static', filename='reports/TemplateItems.xlsx') }}" download>Download Contract Items template</a>
	    <a class="btn btn-outline-success" href="{{  url_for('users_file.dashboard', org_name=session['OrgName'])  }}">Back to main menu <i class="fas fa-arrow-left"></i></a>


	</center>
</div>

    <table id="example" class="table compact table-bordered" style="width:100%">
    <thead class="bg-5">
      <tr class="text-center">
		<th>Contract Reference</th>
        <th>Contract Name</th>
		<th>Contract Value</th>
		<th>Contract Status</th>
		<th>Contract Manager</th>
		<th>Due Date</th>
		<th>Days left</th>
		<th style = "display:none;">Status</th>
		<th style = "display:none;">Notes</th>
		{% if session["RoleId"] > 1 %}
		<th>Edit Contract</th>
		<th>Items Import</th>
		{% endif %}
      </tr>
      <tr class="searchin text-center" style="border-top:none;">
		<td>Contract Reference</td>
        <td>Contract Name</td>
		<td>Contract Value</td>
		<td>Contract Status</td>
		<td>Contract Manager</td>
		<th></td>
		<th></td>
		<th style = "display:none;">Status</th>
		<th style = "display:none;">Notes</th>
		{% if session["RoleId"] > 1 %}
		<th></th>
		<th></th>
		{% endif %}
      </tr>
    </thead>
    <tbody class="text-center">
        {% for i in sp %}

        <tr class='clickable-row'>
			<td id="ContractReference{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{{  i.ContractReference  }}</a></td>
			<td id="Description{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{{  i.Description  }}</a></td>
			<td id="Total{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{% if i.Total is not none %}R{{  i.Total  }}{% else %}R0{% endif %}</a></td>
			<td id="PercentageCompleted{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{% if i.PercentageCompleted is not none %}{{  i.PercentageCompleted|round  }}%{% else %}0%{% endif %}</a></td>
			<td id="ContractManager{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{{  i.ContractManager  }}</a></td>
			<td id="DueDate{{  i.ContractId  }}"><a href="{{  url_for('contracts_file.manage_contract_items', org_name=session['OrgName'], contract_name=i.Description)  }}">{{  i.DueDate  }}</a></td>
			<td id="DaysLeft{{  i.ContractId  }}" {% if i.DaysLeft < 0 %}style="color:red"{% endif %}>{{  i.DaysLeft  }}</td>
			<td style = "display:none;" id="ContractStatus{{  i.ContractId  }}">{{  i.Status  }}</td>
			<td style = "display:none;" id="Notes{{  i.ContractId  }}">{{  i.Notes  }}</td>
			{% if session["RoleId"] > 1 %}
			<td style="text-align:center;"><a class="clickable" data-toggle="modal" data-target="#orderModal" data-id="{{  i.ContractId  }}"><i class="fas fa-edit change"></i></a></td>
			<form method="POST" enctype=multipart/form-data action="{{  url_for('contracts_file.manage_contracts', org_name=session['OrgName'])  }}">
			<td style="text-align:center;">
			    {% if i.WithItems == 0 %}
			    <label for="upload-file{{  i.ContractId  }}"><a><i class="fas fa-file change"></i> Browse...</a></label>
			    <input value="{{  i.Description  }}" name="ConName" type="hidden"/>
			    <input value="{{  i.ContractId  }}" name="ConId" type="hidden"/>
			    <input name="file" type="file" id="upload-file{{  i.ContractId  }}" />
			    <input type=submit id="submit-file{{  i.ContractId  }}" class="btn btn-primary" name="AddContracts" value="Upload File">
		        {% else %}
		        <i class="fas fa-check"></i>
		        {% endif %}
		    </td>
			</form>
			{% endif %}
        </tr>

        {% endfor %}
    </tbody>
    </table>




<!-- Add Modal -->
<div class="modal fade" id="AddContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form action="{{  url_for('contracts_file.manage_contracts', org_name=session['OrgName'])  }}" method="POST">
      <div class="modal-header bg-5">
        <h5 class="modal-title" id="exampleModalLabel">Add a contract</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <center>
            <label class="text-center">Contract Reference:</label>
            <input style="text-align:left;" class="form-control qlogin" type="text" required name="CRef" id="CRef"/>
            <label class="text-center">Contract Name:</label>
            <input style="text-align:left;" class="form-control qlogin" type="text" required name="CName" id="CName"/>
            <label class="text-center">Contract Status:</label>
            <select class="form-control qlogin" name="CStatus" id="CStatus">
              <option value="" selected disabled></option>
              {% for i in activities_data %}
              <option value="{{  i.StatusId  }}">{{  i.Status  }}</option>
              {% endfor %}
            </select>
            <label class="text-center">Contract Manager:</label>
            <select class="form-control qlogin" name="CMan" id="CMan">
              <option value="" selected disabled></option>
              {% for i in contract_managers %}
              <option value="{{  i.UserId  }}">{{  i.UserName  }}</option>
              {% endfor %}
            </select>
            <label class="text-center">Due Date:</label>
            <input min="1899-01-01" max="9999-12-31" style="text-align:left;" class="form-control qlogin" type="date" required name="CDate" id="CDate"/>
            <label class="text-center">Notes:</label>
            <textarea style="text-align:left; height:100px;" class="form-control qlogin" name="CNotes" id="CNotes"></textarea>
            </center>
        </div>
  </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary no-show" name="AddContracts" value="Add Contract">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form action="{{  url_for('contracts_file.manage_contracts', org_name=session['OrgName'])  }}" method="POST">
      <div class="modal-header bg-5">
        <h5 class="modal-title" id="exampleModalLabel">Edit the contract</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <center>
            <label class="text-center">Contract Reference:</label>
            <input type="hidden" name="ECID" id="ECID" value=""/>
            <input class="form-control qlogin" type="text" required name="ECRef" id="ECRef" value=""/>
            <label class="text-center">Contract Name:</label>
            <input class="form-control qlogin" type="text" required name="ECName" id="ECName" value=""/>
            <label class="text-center">Contract Status:</label>
            <select class="form-control qlogin" name="ECStatus" id="ECStatus">

              {% for j in activities_data %}
              <option value="{{  j.StatusId  }}">{{  j.Status  }}</option>

              {% endfor %}
            </select>
            <label class="text-center">Contract Manager:</label>
            <select class="form-control qlogin" name="ECMan" id="ECMan">

              {% for j in contract_managers %}

              <option value="{{  j.UserId  }}">{{  j.UserName  }}</option>


              {% endfor %}
            </select>
            <label class="text-center">Due Date:</label>
            <input min="1899-01-01" max="9999-12-31" style="text-align:left;" class="form-control qlogin" type="date" value="" required name="ECDate" id="ECDate"/>
            <label class="text-center">Notes:</label>
            <textarea style="text-align:left; height:100px;" class="form-control qlogin" name="ECNotes" id="ECNotes"></textarea>
            </center>
        </div>
  </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary no-show" name="AddContracts" value="Save Contract">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% for i in sp %}
<script>
$(function(){
   $("#submit-file{{  i.ContractId  }}").hide();
   $("#upload-file{{  i.ContractId  }}").hide();
   $("#upload-file{{  i.ContractId  }}").change(function(){
        if ($("#upload-file{{  i.ContractId  }}").val() != ""){
             $("#submit-file{{  i.ContractId  }}").show();
        }
        else{
             $("#submit-file{{  i.ContractId  }}").hide();
        }
   });
});

</script>
{% endfor %}

<script>
$('#orderModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var ConID = button.data('id');
    var ContractReference = $("#ContractReference" + ConID).text();
    var Description = $("#Description" + ConID).text();
    var Total = $("#Total" + ConID).text();
    var PercentageCompleted = $("#PercentageCompleted" + ConID).text();
    var ContractManager = $("#ContractManager" + ConID).text();
    var DueDate = $("#DueDate" + ConID).text();
    var ContractStatus = $("#Status" + ConID).text();
    var Notes = $("#Notes" + ConID).text();

    var modal = $(this);
    modal.find('#ECID').val(ConID);
    modal.find('#ECRef').val(ContractReference);
    modal.find('#ECName').val(Description);
    modal.find('#ECDate').val(DueDate);
    modal.find('#ECNotes').val(Notes);


});
</script>

<script>
$(document).ready(function() {
    $('#example thead td').each( function () {
        var title = $('#example thead th').eq( $(this).index() ).text();
        $(this).html( '<input class="searching" type="text" placeholder=" Search..." />' );
    } );

    var table = $('#example').DataTable({"ordering": false, "dom": 'rtip',"fixedHeader": {header: true},  "pageLength": 50, "aaSorting": []});

    table.columns().eq( 0 ).each( function ( colIdx ) {
        $( 'input', table.column( colIdx ).header() ).on( 'keyup change', function () {
            table
                .column( colIdx )
                .search( this.value )
                .draw();
        } );
    } );
    // $('#example2').DataTable({searching: false, "pageLength": 50, "aaSorting": []});
} );
</script>

<!--script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script-->

<script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
 if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }

today = yyyy+'-'+mm+'-'+dd;
document.getElementById("CDate").setAttribute("min", today);
document.getElementById("ECDate").setAttribute("min", today);
</script>



{% endblock %}
