{% extends 'base.html' %}

{% block title %}Worker{% endblock %}

{% block css %}

{% endblock %}

{% block navhead %}Flow Vis{% endblock %}

{% block href %}{{  url_for('users_file.dashboard', org_name=session['OrgName'])  }}{% endblock %}

{% block navbar %}

{% endblock %}

{% block body %}
{% if Error|length > 1 %}
<div class="danger text-center">
    <p>{{  Error  }}</p>
</div>
{% endif %}

<div class="container col-sm-12 text-center">
	{% if session["RoleId"] != 1 %}
	<h2 style="padding:5px;">Contract Lines</h2>
	<div class="row">
        <div class=" col-sm-4 text-center">
            <a class="btn btn-primary work" href="{{  url_for('users_file.dashboard', org_name=session['OrgName'])  }}">Back to main menu <i class="fa fa-arrow-left"></i></a>
        </div>
        <div class=" col-sm-4 text-center">
            <button class="btn btn-primary work" type="button" id="test">Clear Filters <i class="fas fa-filter"></i></button>
        </div>
        <div class=" col-sm-4 text-center">
            <a class="btn btn-primary work" href="/Logout">Logout <i class="fas fa-power-off"></i></a>
        </div>
    </div>
    {% else %}
    <div class="row" style="padding:5px;">
        <div class=" col-sm-4 text-center">
            <button class="btn btn-primary work" type="button" id="test">Clear Filters <i class="fas fa-filter"></i></button>
        </div>
        <div class=" col-sm-4 text-center">
            <h3>Contract Lines</h3>
        </div>
        <div class=" col-sm-4 text-center">
            <a class="btn btn-primary work" href="/Logout">Logout <i class="fas fa-power-off"></i></a>
        </div>
    </div>
    {% endif %}
</div>

	<table id="example2"  class="table compact table-bordered" style="width:100%">
    <thead class="bg-5">
      <tr class="text-center" style="border-bottom:none;">
		<th>Contract Reference</th>
        <th>Contract</th>
        <th>Line Reference</th>
		<th>Product System</th>
		<th>Due Date</th>
		<th>Item Status</th>
      </tr>
      <tr class="text-center" style="border-top:none;">
		<td>Contract Reference</td>
        <td>Contract</td>
        <td>Line Reference</td>
		<td>Product System</td>
		<td>Due Date</td>
		<td>Item Status</td>
      </tr>
    </thead>

    <tbody id="example" class="workers_table">
        {% for i in fast_assign %}
        {% if i.AssignedUserId == session['UserId'] %}
            <tr class='clickable-row1' data-toggle="modal" data-id="{{  i.ContractItemId  }}" data-asid="{{  i.ActivityStatusId  }}" data-actend="{{  i.isActivityEnd  }}" data-target="#orderModal" style="background-color:#122854; color:#fff; opacity:0.5;">
				<td id="ContractReference{{  i.ContractItemId  }}">{{  i.ContractReference  }}</td>
				<td id="Contract{{  i.ContractItemId  }}">{{  i.Contract  }}</td>
				<td id="LineReferenceNumber{{  i.ContractItemId  }}">{{  i.LineReferenceNumber  }}</td>
				<td id="Description{{  i.ContractItemId  }}">{{  i.Description  }}</td>
				<td id="DueDate{{  i.ContractItemId  }}">{{  i.DueDate  }}</td>
				<td id="Status{{  i.ContractItemId  }}">{{  i.Status  }}{% if i.isActivityEnd %}d{% else %}ed{% endif %}</td>
            </tr>
        {% endif %}
        {% endfor %}
        {% for i in fast_assign %}
        {% if i.AssignedUserId != session['UserId'] %}
            <tr class='clickable-row1' data-toggle="modal" data-id="{{  i.ContractItemId  }}" data-asid="{{  i.ActivityStatusId  }}" data-actend="{{  i.isActivityEnd  }}" data-target="#orderModal" >
				<td id="ContractReference{{  i.ContractItemId  }}">{{  i.ContractReference  }}</td>
				<td id="Contract{{  i.ContractItemId  }}">{{  i.Contract  }}</td>
				<td id="LineReferenceNumber{{  i.ContractItemId  }}">{{  i.LineReferenceNumber  }}</td>
				<td id="Description{{  i.ContractItemId  }}">{{  i.Description  }}</td>
				<td id="DueDate{{  i.ContractItemId  }}">{{  i.DueDate  }}</td>
				<td id="Status{{  i.ContractItemId  }}">{{  i.Status  }}{% if i.isActivityEnd %}d{% else %}ed{% endif %}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>


<!-- Add Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="form-horizontal" action="{{  url_for('contracts_file.worker', org_name=session['OrgName'], user_id=session['UserId'])  }}" method="POST">
      <div class="modal-body">
        <div class="form-group">
            <center>
            <input type="hidden" id="CIIE" name="CIIE">
            <input type="hidden" id="CIIS"  name="CIIS">
            <input type="hidden" id="CIIA"  name="CIIA">

            <div class="container">
                <div class="row">
                    <div class="col-sm-3 offset-sm-1 al1">
        	            <p id="contr" class="items_history"></p>
                    </div>
                    <div class="col-sm-4">
                        <p id = "LRN" class="items_history"></p>
                    </div>
                    <div class="col-sm-3 al3">
                        <p id = "Dsc" class="items_history"></p>
                    </div>
                    <div class="col-sm-1 al4" text-align="right">
                        <button type="button" class="close al2" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>

            <div id="showwhenstart" style="display:none;">
            <p>Current activity '<b id="ActStatusJQ"></b>' needs to be completed.</p>
            </div>

            <div id="showwhencomplete" class="container" style="display:none;">
                <div class="row">
                    <div class="col-sm-12">
                    <p>Previous activity was '<b id="ActStatus"></b>'. Select a new activity to start:</p>
                    </div>
            {% for j in base_activities_data %}
                    <div class="col-sm-6">
                        {% if j.Activity != "Cancelled" %}
                        <span style="height:40px; margin-bottom:10px; padding:10px;">{{  loop.index  }}</span>
                        <input type="submit" class="btn btn-warning no-show" style="border:1px solid #{{  j.BgColor  }} !important; width:80%; height:40px; !important; font-size:14px; background-color:#{{  j.BgColor  }} !important;  font-weight: bold;" name="UpdateStatus" value="{{  j.Activity  }}">
                        {% else %}
                        <span style="height:40px; margin-bottom:10px; padding:10px;">{{  loop.index  }}</span>
                        <input type="submit" class="btn btn-warning no-show" style="border:1px solid red !important; color: red !important; width:80%; height:40px; !important; font-size:14px; background-color:white !important;  font-weight: bold;" name="UpdateStatus" value="{{  j.Activity  }}">
                        {% endif %}
                    </div>
            {% endfor %}
                </div>
            </div>
            </center>
        </div>
  </div>
      <div class="modal-footer" style="display:none;" id = "CompAct">
        <input type="submit" class="btn btn-primary no-show"  name="UpdateStatus" value="Complete Activity">
      </div>
      </form>
    </div>
  </div>
</div>






 </div>
 </div>
<br>
<script>
$('#orderModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var ConID = button.data('id');
    var ASID = button.data('asid');
    var ActEnd = button.data('actend');
    var c = $("#Contract" + ConID).text();
    var lrn = $("#LineReferenceNumber" + ConID).text();
    var dscn = $("#Description" + ConID).text();
    var stat = $("#Status" + ConID).text();

    var modal = $(this);
    modal.find('#CIIE').val(ConID);
    modal.find('#CIIS').val(ASID);
    modal.find('#CIIA').val(ActEnd);
    modal.find('#contr').text(c);
    modal.find('#LRN').text(lrn);
    modal.find('#Dsc').text(dscn);
    modal.find('#ActStatusJQ').text(stat);
    modal.find('#ActStatus').text(stat);

    if (ActEnd == 'True' || stat == 'Cancelled') {
        $('#showwhencomplete').show();
        $('#showwhenstart').hide();
        $('#CompAct').hide();
    } else {
        $('#showwhenstart').show();
        $('#CompAct').show();
        $('#showwhencomplete').hide();
    }


});
</script>

<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example2 thead td').each( function () {
        var title = $(this).text();
        $(this).html( '<input class="searching" id="asdasdasd" type="search" placeholder="   Search..." />' );
    } );

    // DataTable
    var table = $('#example2').DataTable({"ordering": false, "dom": 'rtip', "fixedHeader": {header: true}, "pageLength": 50, "aaSorting": []});

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.header() ).on( 'keyup input', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );

$('#test').click(function() {
    $('.searching').val('');
    table.search('').draw();
});
</script>

{% endblock %}

